<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To-do App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-start">Olá! Seja bem-vindo, Jônatas</h1>
  <h3 class="text-start text-muted mt-5">Meus quadros</h3>

  <div class="row mt-4">
    <% @boards.each do |board| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= board.name %></h5>
            <p class="card-text">Criado em: <%= board.created_at.strftime("%d/%m/%Y") %></p>
            <a href="<%= board_path(board) %>" class="btn btn-primary">Ver Quadro</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Criar Novo Quadro</h5>
        <%= form_with model: Board.new, url: boards_path, method: :post, local: true do |form| %>
          <div class="mb-3">
            <%= form.label :name, "Nome do Quadro", class: "form-label" %>
            <%= form.text_field :name, class: "form-control", placeholder: "Digite o nome do quadro" %>
          </div>
          <div class="text-end">
            <%= form.submit "Criar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
