<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">To-do App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      <div class="d-flex">
        <div class="nav-item dropdown d-flex align-items-center gap-2 px-4">
          <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg"
               alt="Avatar"
               class="rounded-circle me-2"
               style="width: 30px; height: 30px; object-fit: cover;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-start">Bem-vindo, <%= current_user.name %>!</h1>
  <h3 class="text-start text-muted mt-5">Meus quadros</h3>

  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title mt-2">Criar Novo Quadro</h5>
          <%= form_with model: Board.new, url: boards_path, method: :post, local: true do |form| %>
            <div class="mb-3">
              <%= form.label :name, "Nome do Quadro", class: "form-label" %>
              <div class="d-flex gap-4">
                <%= form.text_field :name, class: "form-control", placeholder: "Digite o nome do quadro", required: true %>
                <%= form.submit "Criar", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <% @boards.each do |board| %>
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title"><%= board.name %></h5>
              <div class="d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#editBoardModal-<%= board.id %>">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <%= button_to board_path(board), method: :delete, class: "btn btn-lg" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </div>
            </div>
            <p class="card-text">Criado em: <%= board.created_at.strftime("%d/%m/%Y") %></p>
            <div class="d-flex justify-content-start gap-2">
              <a href="<%= board_path(board) %>" class="btn btn-primary">Ver Quadro</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editBoardModal-<%= board.id %>" tabindex="-1" aria-labelledby="editBoardModalLabel-<%= board.id %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editBoardModalLabel-<%= board.id %>">Editar Quadro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with model: board, url: board_path(board), method: :patch, local: true do |form| %>
                <div class="mb-3">
                  <%= form.label :name, "Nome do Quadro", class: "form-label" %>
                  <%= form.text_field :name, class: "form-control", placeholder: "Digite o nome do quadro", value: board.name, required: true %>
                </div>
                <div class="text-end">
                  <%= form.submit "Salvar Alterações", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

