<div class="container mt-5">
  <h1 class="text-center"><%= @board.name %></h1>
  <p class="text-center text-muted">Criado em: <%= @board.created_at.strftime("%d/%m/%Y") %></p>

  <div class="d-flex align-items-center justify-content-start gap-2 mt-4 mb-4">
    <a href="<%= root_path %>" class="btn btn-secondary">
      <i class="bi bi-arrow-left me-2"></i> Voltar
    </a>
    <h3 class="mb-0">Listas</h3>
  </div>

  <% if @lists.any? %>
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="card-title"><%= list.name %></h5>
                <%= link_to class: "btn btn-sm btn-outline-secondary" do %>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              </div>
              <a class="btn btn-success">
                <i class="bi bi-plus-lg me-2">Nova Tarefa</i>
              </a>
                <% list.tasks.each do |task| %>
                  <p><%= task.title %></p>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">Nenhuma lista criada para este quadro.</p>
  <% end %>

  <div class="mt-4">
    <%= button_to board_lists_path(@board), method: :post, class: "btn btn-success" do %>
      <i class="bi bi-plus-lg me-2">Adicionar Lista</i>
    <% end %>
  </div>
</div>